# Core
numpy
pandas
yfinance
matplotlib

# Technical Analysis
statsmodels
scikit-learn
stocktrends
Backtesting

# Sentiment Analysis
vaderSentiment
textblob
nltk
beautifulsoup4
requests

# Data Sources (optional)
alpha_vantage

# Table formatting
tabulate

# Dev & Caching
requests-cache
pytest
